* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* NavBar */
nav.title1 {
  /* border: 1px solid red; */
  background-color: #bda68c;
  display: none;
  max-width: 1920px;
  width: 100%;
  height: 75px;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

nav.title1::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 825px) {
  nav.title1 {
    display: inline-block;
    width: 100%;
  } 
}

/* LOGO */
nav.title1 > div.logo1 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

nav.title1 > div.logo1 > a.logo1 {
  display: inline-block;
  margin-top: 5px;
  /* margin-left: 10px; */
}

nav.title1 > div.logo1 > a.logo1 > img {
  display: inline-block;
  height: 50px;
}

@media screen and (max-width: 825px){
  nav.title1 > div.logo1 > a.logo1 {
    display: inline-block;
    margin-top: 10px;
    /* margin-left: 10px; */
  }

  nav.title1 > div.logo1 > a.logo1 > img {
    display: inline-block;
    height: 40px;
  }
}

/* 收尋圖示 */
div.srch1 {
  /* border: 1px solid red; */
  display: inline-block;
  margin-right: 5px;
  position: absolute;

  right: 25%;
  top: 50%;
  transform: translateY(-50%);
}

div.srch1_img span.icon {
  /* border: 1px solid blue; */
  cursor: pointer;
  margin-left: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  z-index: 0;
}

div.icon_m {
  /* border: 1px solid blue; */
  display: inline-block;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}

div.icon_m > a > img {
  width: 20px;
  margin-right: 5px;
}

/* ==== rwd 575.98px ==== */
@media (min-width: 320px) and (max-width: 575.98px) {
  nav.title1 > div.logo1 {
    display: inline-block;
    margin-top: 10px;
    /* margin-left: 10px; */
  }

  nav.title1 > div.logo1 > a.logo1 > img {
    /* display: inline-block; */
    height: 40px;
  }

  input#search {
    display: none;
  }

  div.srch1_img span.icon {
    /* border: 1px solid blue; */
    position: relative;
    right: 40%;
    top: 50%;
    transform: translateY(-40%);
    z-index: 0;
  }

  div.icon_m > a > img {
    width: 20px;
    margin-right: 12px;
  }
}

/* ========= 漢堡基本按鈕樣式 ======== */
.hamburger {
  padding: 25px 15px;
  /* display: inline-block; */
  cursor: pointer;
  float: right;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: rgb(58, 54, 54);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/* ===== 漢堡主選單列 ===== */
ul.menu1 {
  clear: both;
  background: rgba(238, 233, 227, 0.8);
  /* z-index: 1; */
}

ul.menu1 > li {
  text-align: center;
  padding: 10px;
  /* border-bottom: 1px solid #c2aeae; */
}

ul.menu1 > li > a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #5f5c5c;
}

/* @keyframes max{
  0%{

  }
  50%{

  }
  100%{

  }
} */

/* ===== 漢堡內選單列 ===== */
ul.menu1 > li > div.menu_1 {
  clear: both;
  /* background: rgba(238, 223, 206, 0); */
  z-index: 1;
}

ul.menu_list_1 > li {
  background: rgb(216, 208, 199);
  text-align: center;
  /* border-top: 1px solid #c2aeae; */
}

div.menu_1 > a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #5d5d5d;
}

div.menu_1 > ul.menu_list_1 > li > a.menu_list {
  list-style: none;
  padding-left: 0;
}

div.menu_1 > ul.menu_list_1 > li > a.menu_list {
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #5d5d5d;
}

/* ---- 漢堡選單動畫 ---- */
@keyframes max{
  0%{
    max-height: 0;
  }
  50%{
    max-height: 200px;
  }
  100%{
    max-height: 400px;
  }
}

@keyframes min{
  0%{
    max-height: 400px;
  }
  /* 50%{
    max-height: 200px;
  } */
  100%{
    max-height: 0px;
  }
}

/* js下拉選單設定 */
ul.menu1 {
  animation: min 0.5s linear;
  animation-fill-mode:forwards;
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  
}

ul.menu1.-on {
  /* max-height: 400px; */
  display: block;
  animation: max 1s linear;
  animation-fill-mode:forwards;
}

/* js 內部選單click 事件 內部選單設定 */
.menu_1 > .menu_list_1 {
  max-height: 0;
  overflow: hidden;
}

.-menu .menu_list_1 {
  max-height: 300px;
  /* overflow: none; */
}


/* 選單變色 */
ul.menu1 > li > a:hover {
  background: rgb(250, 242, 214);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.menu_1:hover a.test {
  background: rgb(250, 242, 214);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.menu_1:hover a.test > i {
  color: rgb(224, 153, 95);
}

ul.menu_list_1 > li > a.menu_list:hover {
  background: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* ===== 漢堡套件動畫Spring ===== */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
