* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header > nav.title > ul > li:nth-child(4) > a {
  border-radius: 5px;
  background-color: rgb(135, 100, 100, 0.5);
  color: white;
}

nav.title1 > ul > li:nth-child(4) > a{
  background-color: rgb(250, 242, 214);
}

/* main */
div.main {
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}


div.qs_icon{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ul.FAQ  問答SVG*/
ul.FAQ {
  /* border: 1px solid blue; */
  font-size: 0;
  
  margin-top: 70px;
  margin-bottom: 40px;
}

ul.FAQ img {
  width: 100px;
  height: 100px;
  /* border:1px solid gray; */
}


ul.FAQ  > li {
  list-style: none; /* 移除項目符號 */
  display: inline-block;
  /* margin-right: 100px; */
  margin: 10px 100px;
  text-align: center;
}

ul.FAQ > li > h5 {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 991.98px){
    ul.FAQ img{
      width: 80px;
      height: 80px;
    }
    ul.FAQ  > li {
      list-style: none; /* 移除項目符號 */
      display: inline-block;
      margin: 10px 60px;
    }
}

@media screen and (max-width: 575.98px){
  ul.FAQ img{
    width: 50px;
    height: 50px;
  }
  
  ul.FAQ  > li {
    margin: 10px 30px;
  }

  ul.FAQ > li > h5 {
    font-size: 16px;
  }
}

/* 問題 */
div.pr{
  /* border: 1px solid orange; */
  width: 80%;
  margin: 0 auto;
}

div.pr h4 {
  /* border: 1px solid gray; */
  font-size: 18px;
  font-weight: bold;
  position: relative;
  left: 10%;
  margin: 20 auto;
  /* margin-top: 40px; */
}

div.pr1 {
  /* border: 1px solid blue; */
  /* width: 70%; */
  margin: 0 auto;
  text-align: center;
}

div > dt {
  margin: 0 auto;
}

div > dt > .faq_item {
  background-color: rgb(228, 202, 178);
  width: 80%;
  /* border: none; */
  border: 1px solid gray;
  display: flex;
  text-align: left;
  margin: 0 auto;
  /* margin-bottom: 10px; */
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}



/* 解答 */
div.ans_item {
  border: 1px solid gray;
  /* border-top: none; */
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: left;
  letter-spacing: 1.5px;
}

.ans_item.-on {
  display: block;
}

/* 加號減號 */
div > div > dt > .faq_item > img{
  /* float: right; */
  position: absolute;
  right: 15px;
}

div.add.-on{
  display: none;
}

div.sub.-on{
  display: block;
}

@media screen and (max-width:767.98px) {
  div.pr h4 {
    font-size: 18px;
    /* width: 90%; */
    left: 5%;
  }
  div > dt > .faq_item {
    font-size: 16px;
    width: 90%;
  }
  div.ans_item {
    font-size: 16px;
    width: 90%;
  }
}

@media screen and (max-width:575.98px) {
  div.pr h4 {
    font-size: 16px;
    left: 0;
  }
  div > dt > .faq_item {
    font-size: 14px;
    width: 100%;
  }
  div > dt > .faq_item > img {
    width: 18px;
  }
  div.ans_item {
    font-size: 14px;
    width: 100%;
  }
}

/* 分隔線 */
div.main hr {
  width:80%;
  margin: 40px auto;
}


/* 表單 */
div.speak{
  border: 2px solid rgb(219, 207, 194);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 80px;
}


div.form {
  /* border: 1px solid green; */
  border-radius: 10px;
  width: 40%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
}

div.form h3 {
  /* border: 1px solid blue; */
  text-align: center;
}

div.form > form {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding-left: 40px;
}

div.form > form > label {
  /* border: 1px solid orange; */
  width: 80%;
  display: block;
  font-size: 16px;
  margin: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

div.form > form > input {
  width: 80%;
  min-width: 100px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid rgb(212, 168, 126);
}

div.form > form > textarea {
  border: 1px solid rgb(212, 168, 126);
  width: 80%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: block;
  box-sizing: border-box;
  /* max-width: 170px;
  max-height: 170px; */
  /* border-radius:10px; */
}

div.form > form > button {
  width: 100px;
  background-color: white;
  border: none;
  border: 2px solid gray;
  border-radius: 5px;
  /* margin: 0 auto; */
  margin-left: 15px;
  margin-bottom: 40px;
  cursor: pointer;
}

@media (max-width:991px) {
  div.speak{
    margin: 0 70px;
  }

  div.form {
    width: 80%;
    margin-bottom: 20px;
  }
}


@media (max-width:576.98px) {
  div.speak{
    margin: 0 30px;
  }

  div.form {
    width: 100%;
    margin-bottom: 20px;
  }
  div.form > form{
    padding-left: 30px;
  }
}

/* message 聯絡資訊 */

div.message {
  /* border: 1px solid rgb(212, 168, 126); */
  width: 32%;
  margin-top: 100px;
  margin-right: 20px;
  padding-bottom: 20px;
  text-align: left;
}

div.message h4 {
  /* border: 1px solid orange; */
  text-align: center;
}

div.message ul {
  list-style: none; /* 移除項目符號 */
}

div.message > ul > li {
  margin: 10px;
}

@media (max-width:991px) {
  div.message {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (max-width:575.98px) {
  div.message {
    width: 80%;
    margin-bottom: 50px;
  }
  div.message > ul > li > span{
    font-size: 14px;
  }
}

/* 按鈕特效 */
#more:hover {
  background-color: rgb(189, 164, 143, 0.5);
  color: black;
}
